<div class="container2 padder">
    <h3>Home loan</h3>
    <h4>Home loan Rates</h4>
    <table class="table table-bordered" style="width:70%;">
<thead>
<tr>
<th></td>
<th><strong>Floating Interest Rate*</strong></td>
<th><strong>EMI /Lac- 15 years tenure</strong></td>
</tr>
</thead>
<tbody>

<tr>
<td>HDFC</td>
<td>10.15</td>
<td>1084</td>
</tr>
<tr>
<td>ICICI Bank</td>
<td>10.15</td>
<td>1084</td>
</tr>
<tr>
<td>Axis Bank</td>
<td>10.25</td>
<td>1090</td>
</tr>
<tr>
<td>SBI</td>
<td>10.15</td>
<td>1084</td>
</tr>
<tr>
<td>Bank of Baroda</td>
<td>10.25</td>
<td>1090</td>
</tr>
<tr>
<td>IDBI Bank</td>
<td>10.25</td>
<td>1090</td>
</tr>
<tr>
<td>HSBC</td>
<td>11</td>
<td>1137</td>
</tr>
<tr>
<td>Citibank</td>
<td>10.10</td>
<td>1081</td>
</tr>
<tr>
<td>Indiabulls</td>
<td>10.15</td>
<td>1084</td>
</tr>
<tr>
<td>HFFC</td>
<td>13.5</td>
<td>1298</td>
</tr>
</tbody>
</table>
    
    
    <p>For home loans upto Rs.50 lac*</p>

<h4>Notes:</h4>
<p>Some banks have differential rates for women and senior citizens.</p>
<p>The rates may also vary depending on loan amount, tenure, credit score, whether salaried or self employed and other factors</p>
<p>The interest rates for fixed  is higher than floating rates.</p>
<p>Fees for processing as applicable and charged extra by individual banks.</p>

<h4>Disclaimer:</h4>
<p>Please note that the interest rates given here are based on information published by respective institution.</p>
<p>Users are advised to recheck the same with the individual institutions.</p>
<p>This site does not take any responsibility for any sudden / uninformed changes in interest rates.</p>
<p>Banks/ Financial Institutions can contact us at <a href="mailto:enquiry@indiavaluehomes.com">enquiry@indiavaluehomes.com</a> for inclusion or updates</p>
    
    <h4>Documents for Home Loans</h4>
    <ul>

        <li>Proof of residence- Bank Acct Statement / Electricity Bill / Telephone Bill / LL agreement / Employers letter</li>
        <li>Identity proof- Passport / Pan Card / Photo Credit Card / Driving License /Voters ID</li>
        <li>Last 6 months bank Statement</li>
        <li>2 years ITR/Form 16</li>
        <li>Latest Passport size Photos</li>
        <li>3 months Salary Slips/ Balance sheet</li>
        <li>2 Passport Size Photographs</li>

    </ul>
    <p>Same set of documents for Co-Applicants.</p>

    <h4>Tips for getting Home Loan Approval</h4>
    <ul>

        <li>Plan at least 6 months in advance and get your CIBIL score and check for any anomalies and get it resolved. <a href="http://www.cibil.com" target="_blank">http://www.cibil.com</a></li>
        <li>Ensure that checks issued towards any other EMI is not dishonored</li>
        <li>Do not apply for loans for multiple loans viz. Home loan, car loan, personal loan etc in a short span of time.</li>
        <li>Do not keep credit card payments outstanding</li>

    </ul>
</div>